{% extends 'master.html' %}
{% block content %}
<div>
    <h1 class="h3 mb-2 text-gray-800">Lots</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <h1>Properties</h1>
                <table>
                    <thead>
                    <tr>
                        <th>Lot No</th>
                        <th>Tenant</th>
                        <th>Area</th>
                        <th>Price</th>
                        <th>Availability</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for property in properties %}
                        <tr>
                            <td>{{ property.lot_no }}</td>
                            <td>{{ property.tenant }}</td>
                            <td>{{ property.area }}</td>
                            <td>{{ property.price }}</td>
                            <td>{{ property.available }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

